@import "./import";

// APP 基础样式
*[contenteditable] {
  -webkit-user-select: auto !important;
}
*:focus {
  outline: none;
}
// 消除输入框的阴影和边框
input,
textarea,
select {
  -webkit-appearance: none;
  outline: none;
  resize: none;
  background-color: transparent;
  text-size-adjust: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
p {
  margin: 0;
}
i,
em {
  font-style: normal;
}

body,
html {
  background-color: $background-color-base;
  height: 100%;
  text-size-adjust: 100%;
}
html {
  font-size: 50px;
  line-height: 1.15;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  line-height: 1;
  font-family: $font-family-body;
  font-size: $font-size-base;
  color: $text-color-base;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: $link-color-base;
  text-decoration: none;
  user-select: none;
  outline: none;

  &:hover {
    color: $link-color-hover
  }
  &:active {
    color: $link-color-active
  }
}
img {
  max-width: 100%;
}

// 投影
.shadow--depth {
  &-1 {
    box-shadow: 0 0 px2rem(8px) $shadow-depth-1;
  }
  &-2 {
    box-shadow: 0 px2rem(2px) px2rem(6px) $shadow-depth-2;
  }
  &-3 {
    box-shadow: 0 px2rem(3px) px2rem(8px) $shadow-depth-3;
  }
  &-4 {
    box-shadow: 0 px2rem(4px) px2rem(10px) $shadow-depth-4;
  }
  &-5 {
    box-shadow: 0 px2rem(5px) px2rem(12px) $shadow-depth-5;
  }
}

.flex {
  display: flex;
  align-items: center;

  // 两端对齐
  &-between {
    justify-content: space-between;

    &__left {
      span {
        margin-right: px2rem(26px);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__right {
      span {
        margin-left: px2rem(26px);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }


  &-1 {
    flex: 1;
  }
  &-2 {
    flex: 2;
  }
}




// 无限加载提示
.infinite-loading-container {
  & > div {
    margin: px2rem(36px) 0;
    font-size: 0;

    .infinite__state {
      margin: 0;
      padding: 0;
      font-size: px2rem(30px);
      color: $grey400;

      span {
        vertical-align: middle;
      }
    }
  }
}



#app {
  //max-width: 15.4rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: $tab-bar-height;

  // 满屏 =>> 取消底部间距
  &.app-full {
    padding-bottom: 0;
    .app-view {
      min-height: calc(100vh);
    }
  }

  &.app-light {
    background-color: $page-light-background-color;
  }
}
.app-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

[v-cloak]{
  display:none;
}

// 图片延迟加载
.lazy-img-fadein[lazy=loaded] {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.img-avatar {
  &[lazy=loading], &[lazy=error] {
    background: url("./assets/default-avatar.png") no-repeat center;
    background-size: cover;
  }
}


//
.action-button--affix {
  position: fixed;
  bottom: px2rem(160px);
  right: px2rem(20px);
  z-index: $zindex-affix;
}

// 运动
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
