// 图标

@import "./import";

@font-face {
  font-family: 'iconfont';
  src: url('#{$icon-url}.eot'); /* IE9*/
  src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$icon-url}.woff') format('woff'), /* chrome、firefox */
  url('#{$icon-url}.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('#{$icon-url}.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    display: block;
    font-family: "iconfont" !important;
  }
}

.#{$iconfont-css-prefix}-home:before { content: "\e751"; }
.#{$iconfont-css-prefix}-home-fill:before { content: "\e750"; }
.#{$iconfont-css-prefix}-message:before { content: "\e75a"; }
.#{$iconfont-css-prefix}-message-fill:before { content: "\e758"; }
.#{$iconfont-css-prefix}-user:before { content: "\e75e"; }
.#{$iconfont-css-prefix}-user-fill:before { content: "\e75d"; }
.#{$iconfont-css-prefix}-libs:before { content: "\e78d"; }
.#{$iconfont-css-prefix}-libs-fill:before { content: "\e78c"; }

.#{$iconfont-css-prefix}-write:before { content: "\e674"; }
.#{$iconfont-css-prefix}-comment:before { content: "\e621"; }
.#{$iconfont-css-prefix}-send:before { content: "\e60a"; }
.#{$iconfont-css-prefix}-arrow-right:before { content: "\e600"; }
.#{$iconfont-css-prefix}-arrow-down:before { content: "\e625"; }
.#{$iconfont-css-prefix}-arrow-down-fill:before { content: "\e613"; }
.#{$iconfont-css-prefix}-collection:before { content: "\e6a0"; }
.#{$iconfont-css-prefix}-collection-fill:before { content: "\e730"; }
.#{$iconfont-css-prefix}-goback:before { content: "\e673"; }
.#{$iconfont-css-prefix}-pen:before { content: "\e892"; }
.#{$iconfont-css-prefix}-create:before { content: "\e648"; }
.#{$iconfont-css-prefix}-view:before { content: "\e689"; }
.#{$iconfont-css-prefix}-comment:before { content: "\e621"; }
.#{$iconfont-css-prefix}-comment-fill:before { content: "\e6b3"; }
.#{$iconfont-css-prefix}-reply:before { content: "\e637"; }
.#{$iconfont-css-prefix}-praise:before { content: "\e74c"; }
.#{$iconfont-css-prefix}-write:before { content: "\e674"; }
.#{$iconfont-css-prefix}-share:before { content: "\e638"; }
.#{$iconfont-css-prefix}-close:before { content: "\e634"; }
.#{$iconfont-css-prefix}-close-fill:before { content: "\e634"; }
.#{$iconfont-css-prefix}-info-fill:before { content: "\e62f"; }
.#{$iconfont-css-prefix}-set-fill:before { content: "\e62e"; }
.#{$iconfont-css-prefix}-about-fill:before { content: "\e666"; }
.#{$iconfont-css-prefix}-company-fill:before { content: "\e635"; }
.#{$iconfont-css-prefix}-version-fill:before { content: "\e677"; }
.#{$iconfont-css-prefix}-clear-fill:before { content: "\e633"; }
// Social icon
.#{$iconfont-css-prefix}-sina-fill:before { content: "\e616"; }
.#{$iconfont-css-prefix}-wechat-fill:before { content: "\e614"; }
.#{$iconfont-css-prefix}-qq-fill:before { content: "\e607"; }
.#{$iconfont-css-prefix}-qzone-fill:before { content: "\e680"; }
.#{$iconfont-css-prefix}-douban-fill:before { content: "\e608"; }
.#{$iconfont-css-prefix}-yixin-fill:before { content: "\e604"; }

// Selection control icon
.#{$iconfont-css-prefix}-radio-unchecked:before { content: "\e72f"; }
.#{$iconfont-css-prefix}-radio-checked-fill:before { content: "\e71f"; }
.#{$iconfont-css-prefix}-checkbox-unchecked:before { content: "\e720"; }
.#{$iconfont-css-prefix}-checkbox-checked-fill:before { content: "\e721"; }
// Toast icon
.#{$iconfont-css-prefix}-offline:before { content: "\e601"; }
.#{$iconfont-css-prefix}-success:before { content: "\e617"; }
.#{$iconfont-css-prefix}-fail:before { content: "\e60d"; }
